.followBtn {
    padding: 6px 26px;
    background: #000;
    color: #fff;
    font-family: sans-serif;
    border-radius: 40px;
    border: none;
    margin: 10px;
}

.followBtn:hover {
    opacity: 0.86;
}

.editBtn {
    padding: 4px 20px;
    background: #1d9bf0;
    color: #fff;
    font-family: sans-serif;
    border-radius: 30px;
    border: none;
    margin: 10px;
    font-size: 12px;
}

.editBtn:hover{
    opacity: 0.86;
}

@media (max-width: 1220px) {
    /* .tweetContainer {
        font-size: 12px;
    } */
    .profileContainer {
        width: 60% !important;
    }
}

@media (max-width: 1080px) {
    .profileContainer {
        width: 88% !important;
    }
}

@media (max-width: 600px) {
    .editContainer{
        width: 100% !important;
    }
    .backImgContainer{
        width: 100% !important;
    }
}