.followBtn {
    padding: 2px 16px;
    background: #1d9bf0;
    color: #fff;
    font-family: sans-serif;
    border-radius: 40px;
    border: none;
    margin: 10px;
    font-size: 12px;
}

.followBtn:hover {
    opacity: 0.86;
}

@media (max-width: 1220px) {
    /* .tweetContainer {
        font-size: 12px;
    } */
    .exploreContainer {
        width: 60% !important;
    }
}

@media (max-width: 1080px) {
    .exploreContainer {
        width: 90% !important;
    }
}