.SingleNotificationContainer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    transition: all 0.1s ease;
}

.SingleNotificationContainer:hover{
    background-color: #f1f1f1;
}

.singleNotificationNavLink{
    text-decoration: none;
    color: #000;
}

@media (max-width: 1220px) {
    /* .tweetContainer {
        font-size: 12px;
    } */
    .notificationContainer {
        width: 60% !important;
    }
}

@media (max-width: 1080px) {
    .notificationContainer {
        width: 90% !important;
    }
    .SingleNotificationContainer{
        font-size: 10px;
    }
}